body{
	font-family: Arial, helvetica, sans-seriff;
	font-size:15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
}

/* global*/
.container{
	width:0%;
	margin:auto;
	overflow:hidden;
}

 ul{
	margin: 0;
	padding:0;
}

table, th, td {
    border: 1px solid black;
}

th {
  background-color: #f16272;
    padding: 15px;
}


/* header */
header{
	background: #f16272;
	color: #ffffff;
	padding-top: 30px;
	min-height:   70px;

}

header a{
color:#ffffff;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 2px;
}

header .highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
}
header a:hover{
	color:#cccccc;
	font-weight:bold;
}

.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

.form-wrapper h1 {
  color: #454545;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
  margin-bottom: 10%;
}

.button:hover {
  background: #ee3e52;
}

* {
  box-sizing: border-box;
}

/* shopping cart*/
/******* BASE ********/
:root {
    --color-base-font: #f16272;
    --color-text-light-1: #f16272;
    --color-text-light-2: #dbdbdb;
    --color-text-dark-1: #293240;
    --color-text-danger: #ff1444;
    --color-bg-light: #afa7e9;
    --color-bg-dark: #786dc9;
    --color-bg-danger: #f06883;
    --color-white: #fff;
    --color-black: #000;
    --color-bright-blue: #1399fe;
    --shadow-dark: 0 1rem 4rem rgba(0,0,0,.5);
    --shadow-light: 0 .5rem 1rem rgba(0,0,0,.3);
    --shadow-active: 0 .6rem .8rem rgba(0,0,0,.3);
    --shadow-hover: 0 1rem 2rem rgba(0,0,0,.3);
}

::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background:#f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background:#f16272;
  }

  ::-webkit-scrollbar-thumb:hover {
    background:#141414;
  }

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px; 10px/16px */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-base-font);
    background-color:#f16272;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}


/******* LAYOUT ********/
.container {
    margin: 8rem auto;
    max-width: 70%;
}


.shopping {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: var(--shadow-dark);
}


/* COMPONENTS */

.cart {
    background-color: var(--color-white);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/******* CART SUMMARY ********/

.cart-summary {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.cart-summary__text {
    display: flex;
    align-items: center;
    align-self: flex-end;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 300;
    background-color: #f16272;
    color: var(--color-white);
    padding: .5rem 2.5rem;
    border-bottom-left-radius: 2rem;
    margin-bottom: 2rem;
}

.cart-summary__total-items-count {
    background: #f16272;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-right: 1rem;
    margin-top: -2px;
}


.cart-summary__total-cost {
    align-self: center;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.cart-summary__total-cost::before {
    content: "\20A6";
}

/******* CART LIST ********/
.cart-items {
    display: block;
    padding: 0 1.5rem;
    margin-bottom: 4rem;
}


/******* ITEM ********/
.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    background-color: #f16272;
    padding: 2rem 1rem;
}

.item__remove {
    position: absolute;
    top: 2px;
    right: 2rem;
    font-size: 2rem;
    color: var(--color-text-light-1);
    line-height: 1;
}

.item__remove:hover {
    cursor: pointer;
    color: var(--color-text-danger);
}

.item__img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.item__name {
    font-size: 1.6rem;
    font-weight: 700;
}

.item__reference-sku {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--color-text-light-1);
}

.item__quantity {
    font-size: 1.4rem;
    font-weight: 700;
}

.item__price {
    text-align: right;
}

.item__price-total {
    font-size: 1.6rem;
    font-weight: 700;
}

.item__price-unit {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-text-light-1);
    margin-left: auto;
}

.item__price-total::before,
.item__price-unit::before{
    content: "\20A6";
}


/******* CHECKOUT ********/
.checkout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4rem;
    margin-bottom: 4rem;
}

/******* BUTTONS ********/
.btn-continue:link,
.btn-continue:active,
.btn-continue:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--color-text-light-1);
    font-weight: 700;
    cursor: pointer;
}

.btn-continue::before {
    margin-right: .6rem;
    font-size: 2.5rem;
    content: "\2039";
    opacity: 0;
    transition: all .3s;
}

.btn-continue:hover::before {
    margin-right: 1rem;
    opacity: 1;
}

.btn-clear-cart {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    margin-left: 3rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: Red;
    box-shadow: var(--shadow-light);
    transition: all .3s;
}

.btn-add-new {
    background-color: green;
    color: var(--color-white);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    box-shadow: var(--shadow-light);
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .3s;
}

.btn-add-new:hover,
.btn-clear-cart:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-hover);
}

.btn-add-new:active,
.btn-add-new:focus,
.btn-clear-cart:active,
.btn-clear-cart:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: var(--shadow-active);
}

.btn-add-new:active,
.btn-add-new:focus {
    background-color: #0e7ed4;
}

.btn-clear-cart:active,
.btn-clear-cart:focus {
    background-color: #c94a63;
}

/******* NEW ITEM ********/
.new-item {
    background-image: radial-gradient(#2b3850, #1f2735);
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    flex: 0 0 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: sticky;
}


.new-item__price-qty {
    display: flex;
    justify-content: space-between;
}

.new-item__price-qty > .new-item__form-group:first-child {
    flex: 0 0 45%;
}

.new-item__price-qty > .new-item__form-group:last-child {
    flex: 1;
}

.new-item__form {
    margin-bottom: 4rem;
}

.new-item__text {
    color: var(--color-white);
    align-self: center;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 4rem;
}

.new-item__form-group {
    margin: 1rem 2rem 2rem;
}

.new-item__form-group-btn {
    margin-top: 4rem;
    text-align: center;
}

.new-item__name {
    width: 100%;
    display: block;
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
    color: var(--color-white);
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--color-text-light-1);
    background-color: #fff;
    transition: all .3s;
}

.new-item__name:focus,
.new-item__price:focus,
.new-item__qty:focus {
    outline: none;
    background-color: rgba(58, 76, 109, 0.5);
}

.new-item__name:focus:invalid,
.new-item__price:focus:invalid,
.new-item__qty:focus:invalid {
    border-bottom: 2px solid var(--color-bg-danger);
}

.new-item__label {
    display: inline-block;
    color: var(--color-white);
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.new-item__price {
    display: inline-block;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
    color: var(--color-white);
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--color-text-light-1);
    background-color: #fff;
    transition: all .3s;
}

.new-item__qty {
    display: inline-block;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
    color: var(--color-white);
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--color-text-light-1);
    background-color: #fff;
    transition: all .3s;
}
/* footer*/
footer{
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	background-color:#f16272;
	text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
.container{
  margin:0;
  padding:0;

}
#main{
  background-color:#fafafa;
  margin:25px;
 width:100%;
}
h1,h2{
  color:#800000;

}
label{
  padding:24px 10px;
  margin:24px;
}
input{
  width : 150px;
  margin: 0;
}
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the clear button */
.clearbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float clear and save buttons and add an equal width */
.clearbtn, .savebtn {
  float: left;
  width:20%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for clear button and save button on extra small screens */
@media screen and (max-width: 300px) {
  .clearbtn, .savebtn {
    width: 100%;
  }
}
